/*
Project Name: Blank Template
Client: Your Client
Author: Tewell
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

div#container{

  border: 1px solid black;
}

div.box{
  min-height: 200px;
  width: 20%;
}

div.box p:last-child{
   margin bottom: 0px;
}


div#left{
  background-color: red;
  float:left;
  width: 60%;

}

div#right{
  background-color: blue;
  float:right;
  width: 40%;


/* Center the container */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




